* {
    text-align: center;
    font-family: 'Bangers', cursive;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    background-image: linear-gradient(to top right, #33ccff 0%, #ff99cc 100%);
}

#img {
    border: 1px solid black;
    border-radius: 15px;
    width: 500px;
}

#banner {
    vertical-align: middle;
    text-align: center;
    max-width: 100%;
    width: 500px;
    height: 60px;
    border-radius: 0px;
}

.btn {
    margin-top: 2px;
}

h1 {
    padding-bottom: 1px;
}
